{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "eol-last": "error",
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "space-infix-ops": "error",
        "no-console": "error",
        "no-multi-spaces": "error",
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
        "comma-dangle": ["error", "always-multiline"],
        "arrow-parens": ["error", "always"],
        "linebreak-style": ["error", "windows"],
        "indent": ["error", 4, { "SwitchCase": 1 }]
    },
    "overrides": [
        {
            "files":["*.ts", "*.tsx"],
            "parser": "@typescript-eslint/parser",
            "plugins": ["@typescript-eslint"],
            "extends": [
                "eslint:recommended",
                "plugin:react/recommended",
                "plugin:react-hooks/recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "rules": {
                "indent": "off",

                "react/prop-types": "off",
                "react/display-name": "off",
                "react/jsx-key": "error",
                "react/jsx-indent-props": ["error", 4],
                "react/jsx-indent": ["error", 4, { "checkAttributes": true, "indentLogicalExpressions": true }],
                "react/jsx-tag-spacing": "error",

                "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }],
                "@typescript-eslint/no-empty-interface": "off",
                "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
                "@typescript-eslint/member-delimiter-style": "error"
            }
        }
    ]
}