{
  "singleQuote": true,
  "importOrder": [
    "^env$",
    "^core(.*)$",
    "^localization(.*)$",
    "^store(.*)$",
    "^modules(.*)$",
    "^ui(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
